.jumparrow_wrapper {
  position: fixed;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: rgba(192, 192, 192, 0.2); */
  box-shadow: 0px 0px 0px 0.09px white;
  color: var(--primary);
  top: calc(50% - 50px);
  font-size: 20px;
  z-index: 9999;
}
.jumparrowleft_wrapper {
  left: 1px;
}
.jumparrowright_wrapper {
  right: 1px;
}
