.section_title_wrapper_yay {
  width: 100%;
  display: flex !important;
  justify-content: center;
}
.section_title_wrapper_yay > h2 {
  color: var(--primary);
  align-self: center;
  font-size: 3.5vw;
  font-weight: 900;
  font-family: "Teko", sans-serif;
}
@media all and (max-width: 900px) {
  .section_title_wrapper_yay > h2 {
    font-size: 5vw;
  }
}
