.button_wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  /* background-color: rgba(165, 250, 0, 0.6); */
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: fit-content;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.button_wrapper_content_wrapper {
  position: absolute;
  top: -55%;
  left: 0;
}
.button_wrapper_content_wrapper > span {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.button_wrapper > a {
  width: 100%;
  text-decoration: none;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.button_wrapper > a > img {
  height: 40px;
}
.button_wrapper > a > span {
  color: white;
  font-weight: 900;
  font-size: 20px;
}
@media all and (max-width: 1000px) {
  .button_wrapper {
    transform: scale(0.9);
  }
}
@media all and (max-width: 500px) {
  .button_wrapper > a > img {
    height:30px;
  }
  .button_wrapper_content_wrapper {
    top: -40%;
  }
  .button_wrapper_content_wrapper > span {
    font-size: 15px;
    font-weight: 900;
  }
}
