.button_wrapper {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  width: 250px;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.button_wrapper_content_wrapper {
  position: absolute;
  top: -45%;
  left: 0;
}
.button_wrapper_content_wrapper > span {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.button_wrapper > a {
  width: 100%;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_wrapper > a > img {
  /* height: 50px; */
  width:70%;
}
