.eventcard_wrapper {
  width: 300px;
  height: 400px;
  box-shadow: 0px 0px 0px 0.5px var(--tertiary);
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
}
.eventcard_wrapper_image_wrapper {
  flex: 0.8;
  border-radius: 20px;
  overflow: hidden;
}
.eventcard_wrapper_image_wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}
.eventcard_wrapper_content_wrapper {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px 0px 10px;
  gap: 3px;
}
.eventcard_wrapper_content_wrapper > h3 {
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Teko", sans-serif;
  font-size: 30px;
}
.eventcard_wrapper_content_wrapper > p {
  font-weight: 400;
  font-size: 15px;
  color: white;
  font-family: "Teko", sans-serif;
  letter-spacing: 1px;
}
.eventcard_wrapper_content_wrapper > a {
  align-self: flex-end;
}
.eventcard_wrapper_content_wrapper > a > img {
  width: 90px;
}
