.logo_wrapper {
  position: fixed;
  top: 0.5%;
  left: 0.5%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.logo_wrapper > img {
  height: 100px;
  animation: rotation 10s infinite linear;
}
