.events_wrapper {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.events_wrapper_inner_wrapper {
  max-width: 1300px;
  width: 100%;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.events_wrapper_inner_wrapper > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
  place-items: center;
}
@media all and (max-width: 1000px) {
  .events_wrapper_inner_wrapper > div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 650px) {
  .events_wrapper_inner_wrapper > div {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
  }
}
