.dashboard_wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: gray;
  /* background-image: url(../../assets/images/wavebg.png); */
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: color;
}
