.counter_wrapper {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counter_number {
  color: #a5fa00;
  font-size: 5vw;
  font-weight: 900;
  background: -webkit-linear-gradient(
    -90deg,
    var(--tertiary) 40%,
    var(--primary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Rubik", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Manrope", sans-serif;
}
.counter_title {
  font-weight: 900;
}
.counter_plus {
  position: absolute;
  top: -15%;
  color: white;
  right: -15%;
  font-size: 2.5vw;
  font-weight: 900;
}
