.gamecard {
  /* background: rgba(192, 192, 192, 0.2); */
  width: 300px;
  height: 400px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 15px 15px 15px 15px;
  box-shadow: 0px 0px 0px 0.2px white;
}
.gamecard > img {
  position: absolute;
  height: 200px;
  top: 90px;
}
.gamecard > h3 {
  margin-top: 120px;
  color: var(--tertiary);
  font-weight: 900;
  font-family: "Teko", sans-serif;
  font-size: 3rem;
}
.gamecard > p {
  color: white;
  font-family: "Teko", sans-serif;
}
.gamecard > a {
  margin-top: 20px;
}
.gamecard > a > img {
  width: 90px;
}
