.dashboard_about_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}
.dashboard_about_wrapper_inner_wrapper {
  max-width: 1300px;
  width: 100%;
  display: flex;
  /* flex-direction: row-reverse; */
  gap: 20px;
  padding: 20px;
  min-height: 500px;
}
.dashboard_about_wrapper_inner_wrapper_image_wrapper {
  flex: 0.5;
  background: url(../../assets/images/sunset-animate.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dashboard_about_wrapper_inner_wrapper_content_wrapper {
  flex: 0.5;
}
.dashboard_about_wrapper_inner_wrapper_content_wrapper > h2 {
  color: #a5fa00;
  font-size: 4rem;
  align-self: flex-start;
}
.dashboard_about_wrapper_inner_wrapper_content_wrapper > p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
@media all and (max-width: 1000px) {
  .dashboard_about_wrapper {
    padding-top: 0px;
  }
}
