.dashboard_home_wrapper {
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
  padding: 0px;
}
.dashboard_home_title {
  font-size: 9vw;
  margin-top: 200px;
  font-family: "Teko", sans-serif;
}
.dashboard_home_description {
  width: 1300px;
  max-width: 90%;
  text-align: center;
  word-spacing: 1px;
  letter-spacing: 2px;
  line-height: 20px;
}
.hack5wrapper {
  color: var(--primary);
}
.dashboard_home_counter_wrapper {
  max-width: 1000px;
  width: 80%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media all and (max-width: 1000px) {
  .dashboard_home_title {
    margin-top: 0px;
  }
}
