.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 65%);
  z-index: 9999;
}
.header_navbar {
  flex: 0.35;
}
.header_navbar > ul {
  max-width: 700px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header_navbar > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: all 500ms ease 0s;
}
.header_navbar > ul > li > a:hover {
  color: rgba(165, 250, 0, 1);
  transition: all 500ms ease 0s;
}
@media all and (max-width: 1000px) {
  .header {
    display: none;
  }
}
