.header {
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}
.header_logo {
}
.header_navbar {
  flex: 0.35;
}
.header_navbar > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header_navbar > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-weight: 500;
}
.header_register_button > a {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  background-color: rgba(165, 250, 0, 0.8);
  border-radius: 10px;
}
