.header {
  position: fixed;
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(10, 1fr);
  /* grid-auto-flow: column; */
  padding: 15px 20px 0px 20px;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 25%,
    rgba(0, 0, 0, 0.85) 50%,
    /* rgba(0, 0, 0, 0.5) 100%, */ rgba(0, 0, 0, 0) 100%
  );
  z-index: 9999;
}
.header_fixed_image {
  rotate: 90deg;
  width: 350px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  left: -70px;
  top: 0;
}
.header_fixed_image_active {
  display: none;
}
.header_navbar {
  flex: 0.35;
  grid-column: 5/9;
}
.header_navbar > ul {
  max-width: 700px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header_navbar > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 500;
  transition: all 500ms ease 0s;
}
.header_navbar > ul > li > a:hover {
  color: var(--primary);
  transition: all 500ms ease 0s;
}
.header_devfolio_button_wrapper {
  grid-column: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 44px;
  border-radius: 7px;
  overflow: hidden;
}
@media all and (max-width: 1000px) {
  .header {
    display: none;
  }
}
