.gallery_card{
  width:100%;
  aspect-ratio: 4/5;
  filter: grayscale(20);
  background-size: cover;
  transition: all 200ms ease 0s;

}
.gallery_card:hover{
filter: grayscale(0);
transform: scale(1.1);
border-radius: 10px;
z-index: 999999;
}