.footer_wrapper {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: url(../../assets/images/footerbg.png); */
  background-size: cover;
  background-position: center top;
}
.footer_inner_wrapper {
  max-width: 1300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
}
.footer_inner_wrapper_part_one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 0.1px solid var(--secondary);
}
.footer_inner_wrapper_part_one > img {
  width: 50px;
}
.footer_inner_wrapper_part_one > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}
.footer_inner_wrapper_part_one > ul > li > a {
  text-decoration: none;
  color: var(--secondary);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease 0s;
}

.footer_inner_wrapper_part_one > ul > li > a :hover {
  color: var(--primary);

  transition: all 200ms ease 0s;
}
.footer_inner_wrapper_part_15{
  color:var(--secondary);
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}
.footer_inner_wrapper_part_15>a{
  text-decoration: none;
  color:var(--secondary);
  display: flex;
  align-items: center;
  gap:10px;
  
}
.footer_inner_wrapper_part_15>a:hover{
  color:var(--primary);
  
}
.phone_icon{
  color: var(--primary);
}
.footer_inner_wrapper_part_two {
  padding: 10px;
  color: var(--secondary);
}
.footer_inner_wrapper_part_two > small {
  font-size: 12px;
}
