.association_wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  box-shadow: 0px 0px 0px 0.2px white;
  padding: 20px;
  gap: 20px;
}
.association_wrapper > h2 {
  color: var(--secondary);
}
.association_inner_wrapper {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;

  gap: 50px;
}
.association_single > img {
  width: 150px;
}
@media all and (max-width: 1000px) {
  .association_single > img {
    width: 100px;
  }
}
@media all and (max-width: 740px) {
  .association_single > img {
    width: 70px;
  }
  .association_inner_wrapper {
    gap: 20px;
  }
}
@media all and (max-width: 600px) {
  .association_wrapper {
    padding: 10px;
  }
  .association_inner_wrapper {
    gap: 15px;
  }
  .association_single > img {
    width: 55px;
  }
}
@media all and (max-width: 375px) {
  .association_inner_wrapper {
    gap: 10px;
  }
  .association_single > img {
    width: 51px;
  }
}
