.sponsors_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.sponsors_inner_wrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap:50px;

}
