.sponsors_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  gap:50px;
}
.sponsors_inner_wrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  gap:50px;

}
@media all and (max-width: 1000px) {
  .sponsors_wrapper {
    padding-top: 100px;
  }
}